@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header,
footer {
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgb(97, 148, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

main {
    margin: 0 auto;
    padding: 1rem;
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
    margin: 0 auto;
    border: none;
    gap: 15px;
}


img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 15px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

nav a {
    padding: 20px;
    color: white;
    /* display: none; */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    align-items: center;
    color: white;
}

footer {
    text-align: center;
}

dialog {
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 0;
    background: transparent;


    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.75);
}

dialog img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 10vh auto;
}

.modal-wrapper {
    position: relative;
    overflow: visible;
}

.modal-wrapper img {
    display: block;
    width: auto;
    height: auto;
    max-width: 110vw;
    max-height: 70vh;
    object-fit: contain;
}

.close-viewer {
    position: absolute;
    top: 60px;
    right: -26px;

    width: 28px;
    height: 28px;

    background: white;
    color: black;
    border: 1px solid #999;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

@media (min-width: 1200px) {
    .menu-btn {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        display: inline-block;
        padding: 0 15px;
        color: white;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    dialog {
        padding: 40px;
        /* more space on desktop */

    }
}

@media (max-width: 767px) {
    dialog {
        padding: 16px;
    }

    .modal-wrapper img {
        display: block;
        width: auto;
        height: auto;
        max-width: 85vw;
        max-height: 60vh;
        object-fit: contain;
    }
}