@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
} */

header,
footer {
    max-width: 1500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgb(97, 148, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: lightgrey;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
    margin: 0 auto;
    border: none;
    gap: 15px;
}


img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 15px;
    border: 5px solid white;
}

nav a {
    padding: 20px;
    color: white;
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    align-items: center;
    color: white;
}

footer {
    text-align: center;
}

@media (min-width: 1200px) {
  .menu-btn {
    display: none;
  }

  nav a {
    display: inline-block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
  }
}

