body {
    background-color: white;
    font-size: 20px;
}

#mission {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 1.3em;

}
hr {
    height: 1px;
    background-color: #035f9c(0, 0, 0, 0.3);
    width: 80%;
    margin-top: 0px;
    margin-bottom: 50px;
}

h1{
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 0px;
}

img {
    width: 15%;
    display: block;
    margin: 40px auto;
}

#topic {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: none;
    width: 90%;
}

.italic {
    font-style: italic;
}

.numbered-list {
    margin-left: 40px;
    margin-top: 10px;
}
