* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 1.5rem 1rem;
    border-top: 4px solid #333;
    border-bottom: 4px solid #e2c49b;
    background-color: #ffffff;
}

header h1 {
    font-size: 2.5rem;
    color: #3b223c;
    margin-bottom: 1rem;
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 2rem;
    display: flex;
    justify-content: right;
    gap: 3rem;
}

.main-nav a {
    text-decoration: none;
    color: #b22234;
    font-weight: bold;
}

.main-nav a:hover,
.main-nav a:focus {
    text-decoration: underline;
}

#book-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
    padding-right: 2rem;
}

.book {
    display: grid;
    gap: 1.5rem;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 2rem;
    /* border-bottom: 3px solid #e2c49b; */
    border-bottom: none;
}

/* Book Title */

.book h2 {
    /* text-align: center; */
    grid-area: title;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    font-size: 1.6rem;
    color: #b22234;
    margin-bottom: .25rem;

}

.book img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.book-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.5rem;
}

.book-content {
    grid-area: content;
    padding-left: 0;
}

.book-meta {
    text-align: left;
    grid-area: meta;
}

#sum {
    max-width: 600px;
    margin: 0;
    text-align: left;
}

.book-meta p:first-child {
    font-style: italic;
}


@media (max-width: 767px) {

    .book {
        grid-template-columns: 1fr;
        grid-template-areas:
            "meta"
            "title"
            "content";
        gap: 1.5rem;
        padding: 0 1rem 1.5rem 1rem;
    }

    .book h2 {
        grid-area: title;
        text-align: left;
        margin: 0;
    }

    .book-meta {
        grid-area: meta;
        text-align: right;
    }
    .book-content {
        grid-area: content;
        padding-left: 0;
    }
    #sum {
        margin: 0;
        text-align: left;
    }
}

@media (min-width: 768px) {

    .book {
        display: grid;
        grid-template-columns: 250px 2fr;
        grid-template-areas:
            "meta title"
            "meta content";
        gap: 2rem;
        align-items: start;
        padding: 0 2rem 2rem 2rem;
    }

    .book h2 {
        grid-area: title;
        text-align: left;
        margin: 0;
    }
    #sum {
        margin: 0;
        text-align: left;
    }

    .book-meta {
        grid-area: meta;
        text-align: right;
        padding-right: 2rem;
        border-right: 2px solid #e2c49b;
        align-self: stretch;
    }

    .book-content {
        grid-area: content;
        padding-left: 0;
    }
}

footer {
    text-align: center;
    padding: 1.5rem;
    border-top: 4px solid #e2c49b;
    background-color: #ffffff;
    font-weight: bold;
}
